<!DOCTYPE html>
<!https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_float>
<html>
<head>
<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: black;
    background-color: darkorange;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</head>
<body>

<div class="container">

<header>
   <h1>A duplicate entry! - Please try again!</h1>
</header>
  
<nav>
 
<form action="/employees">
  <input type="submit" value=" << Back to the main page">
</form> 
</nav>



<footer>Copyright &copy; ABC Company Ltd.</footer>

</div>

</body>
</html>


